@using WebApp.ViewModels
@model VMChangePassword
@{
    ViewData["Title"] = "Şifre Değşitir";
}

<div class="row shadow-sm p-3" style="border-radius: 1rem; border: 1px solid #e2e2e2;">
    <div class="col-12">
        <h2 class="border-bottom mb-2 pb-2" style="font-weight:700;">
            Şifre Değiştir
        </h2>
    </div>
    <div class="col-12">
        <form asp-controller="User" asp-action="ChangePassword" method="post" class="needs-validation was-validated">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="OldPassword" class="form-label" style="font-weight:700; color: #4b4b4b;">Eski Şifre</label>
                <input asp-for="OldPassword" class="form-control" required>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label" style="font-weight:700; color: #4b4b4b;">Yeni Şifre</label>
                <input asp-for="NewPassword" class="form-control" required>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewPasswordAgain" class="form-label" style="font-weight:700; color: #4b4b4b;">Yeni Şifre Tekrar</label>
                <input asp-for="NewPasswordAgain" class="form-control" required>
                <span asp-validation-for="NewPasswordAgain" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <span class="text-danger">@ViewBag.Feedback</span>
            </div>
            <button type="submit" class="btn my-2" style="background-color: #13AF54; color: white;">
                <i class="fa-regular fa-circle-check mr-2"></i>
                Onayla
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}