@using Model.Dtos.Account_
@model AccountCreateDto

@{
    ViewData["Title"] = "Yeni Hesap Oluştur";
}
 
<div class="row shadow-sm p-3" style="border-radius: 1rem; border: 1px solid #e2e2e2;">
    <div class="col-12">
        <h2 class="border-bottom mb-3 pb-3" style="font-weight:700;">
            Yeni Hesap Oluştur
        </h2>
    </div>
    <div class="col-12 d-flex flex-column">
        <form asp-controller="Account" asp-action="CreateNewAccount" method="post" class="needs-validation was-validated">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="AccountTypeId" class="form-label" style="font-weight:700; color: #4b4b4b;">Hesap Türü</label> 
                <select asp-for="AccountTypeId" asp-items="@ViewBag.SelectListAccountType" class="selectpicker" data-width="100%" data-live-search="true" data-size="5" data-style="btn-outline-secondary" title="Seçiniz" required></select>
                <span asp-validation-for="AccountTypeId" class="text-danger"></span>
            </div>
            <div class="mb-3 border-bottom">
                <input asp-for="UserId" type="hidden" class="form-control" required>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <button type="submit" class="btn my-2" style="background-color: #13AF54; color: white;">
                <i class="fa-regular fa-circle-check mr-2"></i>
                Onayla
            </button>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}